<!DOCTYPE html>
<html>

{% load static %}

<head>
    <title>Test site</title>
</head>

    <link href= " {% static  'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

    <body>
        {% block content%}
        <h1>Personal page</h1>
        <h2><a class="nav-link" href="{% url 'home' %}">Checking Home page is necessary</a></h2>
        {% if user.is_authenticated %}
            <p>Hello <b>{{user.username}}</b></p>
            <p>Groups you are in : <b>{{ user.groups.all.0 }}</b></p>
            <p>You are joined to test site : <b>{{user.date_joined}}</b></p>
            <p>You logged in : <b>{{user.last_login}}</b></p>
            <a href="{% url 'logout' %}">Logout</a>

            {% else %}
                <p>Please login or register</p>
                <a href="{% url 'login_url'%}">Login</a>
                <a href="{% url 'register_url'%}">Register</a>
        {% endif %}
        {% endblock %}
    </body>

</html>