{% extends 'base.html' %}
{% block content %}
</body>
                    
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    {% if user.is_authenticated %}
                
                    <h1>Your current status, is online = {{user.useraccount.status}} </h1>
                    <h2><a class="nav-link" href="{% url 'home' %}">Checking Home page is necessary</a></h2>
                    Toggle online status
                        <dev>
                            <form action="{% url 'change_status'%}"  method="post">
                                {% csrf_token %}
                            <p><input name = '123' type="submit" value=toggle></p>
                            </form>
                        </dev>

                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                        <p>Please login or register</p>
                        <a href="{% url 'login_url'%}">Login</a>
                        <a href="{% url 'register_url'%}">Register</a>
                {% endif %}
                </div>
            </div>
        </div>
</body>
                    {% endblock  %}
